---
aliases:
tags:
banner: {{metaData.cover}}
Type: 书籍
Status: 
---

> [!xgxx]- [{{metaData.title}} - {{metaData.author}} - 微信读书](https://weread.qq.com/web/reader/{{metaData.bookId}})
> - 简介： {% set intro = metaData.intro | replace("\n","") | replace("\r","") %}{{intro}}
> - 出版时间： {{metaData.publishTime}}
> - ISBN： {{metaData.isbn}}
> - 分类： {{metaData.category}}
> - 出版社： {{metaData.publisher}}
> - BookId: {{metaData.bookId}}
> - 想法数量: {{metaData.reviewCount}}
> - 笔记数量: {{metaData.noteCount}}
> - 进度: {{metaData.readInfo.readingProgress}}%
> - 阅读时长: {{metaData.readInfo.readingTimeStr}}
> - 阅读日期: {{metaData.readInfo.readingBookDateStr}}
> - 完成日期: {{metaData.readInfo.finishedDateStr}}

# 《{{metaData.title}}》

 {{metaData.author}}
 {{metaData.noteCount}}个笔记

{% for chapter in chapterHighlights %}
#  {{chapter.chapterTitle}}

{% for entry in chapter.chapterEntries %}
{% if entry.markText %}
{{ entry.markText |trim }}

{% if entry.reviewContent %}
> {{ entry.reviewCreateTime or entry.createTime }} 发表想法：
> {{entry.reviewContent}}
{% endif %}
{% elif entry.abstract %}
{{ entry.abstract |trim }}

> {{ entry.createTime }} 发表想法：
> {{entry.content}}
{% else %}
> {{entry.createTime}} 发表想法：
> {{entry.content}}
{% endif %}

{% endfor %}
{% endfor %}
